---
const { id, name, description, image } = Astro.props;
const colors = [
  "orange",
  "green",
  "blue",
  "purple",
  "red",
  "dark-green",
  "yellow",
];

const color = colors[Math.floor(Math.random() * colors.length)];
---

<div
  class="floater fixed z-10 cursor-pointer p-1 opacity-0 hover:animate-spin"
  id={id}>
  <img src={image} alt={name} class="h-10 w-10" />
</div>
<dialog
  class={`border-${color}-border bg-${color} hidden flex-col items-center justify-start rounded-md border-4 p-5 max-w-7xl`}
  id={`${id}-dialog`}>
  <p class="text-center text-5xl">{name}</p>
  <p class="my-2 text-center text-3xl">{description}</p>
  <button class={`bg-${color}-border rounded-md p-3 text-2xl`}>Close</button>
</dialog>
