---
import TechIcon from "./techIcon.astro";

import type { MarkdownInstance } from "astro";
import type ProjectFrontmatter from "../interfaces/ProjectFrontmatter";

interface Props {
  project: MarkdownInstance<ProjectFrontmatter>;
}

const { project } = Astro.props;
const colors = [
  "orange",
  "green",
  "blue",
  "purple",
  "red",
  "dark-green",
  "yellow",
];

const color = colors[Math.floor(Math.random() * colors.length)];
---

<div class="inline-block w-full">
  <div
    class={`bg-${color} [filter:drop-shadow(5px_5px_5px_theme('colors.${color}-border'))] border-4 border-${color}-border m-2 flex flex-col items-center justify-start rounded-lg p-2 text-black lg:p-5`}>
    <a href={project.url} class="text-center text-3xl"
      >{project.frontmatter.name}</a
    >
    <div class="flex flex-row items-center justify-center">
      <img
        src="/images/contact/gh.png"
        class="mx-1 h-7 w-7 rounded-full border-2 border-black bg-white md:mx-2"
      />
      <a
        href={project.frontmatter.repo}
        target="_blank"
        class="text-blue-700 text-center text-xl">{project.frontmatter.repo}</a
      >
    </div>
    <p class="my-5 text-center text-xl">{project.frontmatter.description}</p>
    <div class="flex flex-row flex-wrap items-center justify-center">
      {project.frontmatter.stack.map((tech) => <TechIcon name={tech} />)}
    </div>
  </div>
</div>
