---
import TechIcon from "../components/techIcon.astro";

import BaseLayout from "./baseLayout.astro";

import type { CollectionEntry } from "astro:content";

type Props = {
  entry: CollectionEntry<"projects">;
};

const { entry } = Astro.props;
---

<BaseLayout>
  <meta
    name="description"
    content={`Samuel Fernandez's project '${entry.data.name}'`}
  />
  <main class="m-5 flex flex-col items-center justify-start bg-black md:m-10">
    <div class="z-20 flex w-full flex-col items-center justify-start">
      <div class="flex flex-col items-center justify-start">
        <h2 class="font-space-grotesk text-3xl md:text-4xl lg:text-5xl">
          {entry.data.name}
        </h2>
        <div class="flex flex-row items-center justify-center">
          <img
            src="/images/contact/gh.svg"
            alt="The GitHub logo"
            class="mx-1 h-7 w-7 rounded-full border-2 border-black md:mx-2"
          />
          <a
            class="text-blue-400 text-center text-lg underline md:text-xl lg:text-2xl"
            href={`https://github.com/${entry.data.repo}`}
            target="_blank">{entry.data.repo}</a
          >
        </div>
        <p class="my-5 text-center text-xl lg:text-2xl">
          {entry.data.description}
        </p>
        {
          entry.data.stack.length > 0 && (
            <div class="flex w-full flex-row flex-wrap items-center justify-center rounded-md border-2 border-slate-500 bg-slate-800">
              {entry.data.stack.map((tech) => (
                <TechIcon name={tech} />
              ))}
            </div>
          )
        }
      </div>
    </div>
    <div
      class="content text-md z-20 mt-10 flex w-full flex-col items-center justify-start border-2 border-border bg-bgc p-5 leading-6 [filter:drop-shadow(5px_5px_20px_rgba(255,255,255,0.25))] md:w-5/6 md:px-10 lg:text-xl lg:leading-8">
      <img
        src={`/images/projectImages/${entry.data.name}.webp`}
        alt={`A screenshot of ${entry.data.name}`}
        class="mb-5 w-full rounded-md md:w-[calc(100vw/2)]"
      />
      <div class="mx-3 w-full md:mx-20 md:w-[calc(100vw/2)] lg:mx-40">
        <slot />
      </div>
    </div>
  </main>
</BaseLayout>
